@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-bg: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);
  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);
  --red-bg-gradient: linear-gradient(
    90deg,
    hsl(13, 100%, 72%) 0%,
    hsl(353, 100%, 62%) 100%
  );
  --gray-bg-gradient: linear-gradient(
    90deg,
    hsl(237, 17%, 21%) 100%,
    hsl(237, 23%, 32%) 0%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: var(--body-copy);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.nav-header {
  background: var(--red-bg-gradient);
  border-bottom-left-radius: 150px;
}

header {
  background-image: url("./images/bg-pattern-intro.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
}

.menu-icons {
  display: none;
}

.nav-logo {
  margin-right: 40px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9rem;
}

.nav-list {
  position: relative;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-list:not(:last-child) {
  margin-right: 30px;
}

.nav-link {
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text);
}

.nav-list:hover .arrow-desktop {
  transform: rotate(180deg);
}

.nav-list:hover .arrow-mobile {
  transform: rotate(180deg);
}

.arrow-mobile {
  display: none;
}

.nav-list-sub {
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.nav-list:hover > .nav-list-sub {
  visibility: initial;
  opacity: 1;
}

.nav-link-sub {
  color: var(--footer-text);
  transition: all 0.3s ease-in-out;
}

.nav-link-sub:hover {
  color: var(--body-text);
}

.cta-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.cta-item:not(:last-child) {
  margin-right: 20px;
}

.sign {
  padding: 10px 25px;
  background-color: var(--text);
  border-radius: 20px;
  color: var(--cta-text);
  transition: all 0.3s ease-in-out;
}

.sign:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--text);
}

@media screen and (max-width: 665px) {
  .desktop {
    display: none;
  }
  .menu-icons {
    display: block;
    margin-left: auto;
  }
  .hamburger.open {
    display: none;
  }
  .close {
    display: none;
  }
  .close.open {
    display: block;
  }
  .nav {
    margin-left: auto;
    position: relative;
  }
  .menu {
    background-color: white;
    flex-direction: column;
    border-radius: 4px;
    padding: 30px;
    width: 90%;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .menu.open {
    visibility: initial;
    opacity: 1;
  }
  .arrow-mobile {
    display: initial;
  }
  .arrow-desktop {
    display: none;
  }
  .nav-list:not(:last-child) {
    margin-right: 0;
  }
  .nav-link {
    color: var(--body-text);
    font-size: 1.3rem;
  }
  .nav-item {
    padding-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .nav-list-sub {
    background-color: hsl(240, 2%, 79%, 0.2);
    position: initial;
    padding: 20px 100px;
    display: none;
    transition: all 0.4s ease-in-out;
  }

  .nav-list:hover > .nav-list-sub {
    display: block;
  }

  .nav-link-sub {
    color: var(--footer-text);
    transition: all 0.3s ease-in-out;
  }

  .nav-link-sub:hover {
    color: var(--body-text);
  }

  .cta-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .cta-list {
    flex-direction: column;
    margin: initial;
    border-top: 1px solid var(--footer-text);
    width: 70%;
    padding: 30px;
    margin-top: 30px;
  }
  .login {
    color: var(--body-color);
    margin-bottom: 20px;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
  }
  .login:hover {
    color: var(--footer-text);
  }
  .sign {
    background-color: var(--cta-text);
    color: var(--text);
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .sign:hover {
    background-color: var(--cta-hover-bg);
  }
}

@media screen and (max-width: 295px) {
  .heading {
    font-size: 1.2rem;
  }
}

.hero {
  padding: 100px 20px;
  text-align: center;
}

.white {
  color: var(--text);
}

.heading {
  font-size: 3rem;
}

.desc {
  margin-bottom: 30px;
}

.cta {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid var(--text);
}

.cta:not(:last-child) {
  margin-right: 10px;
}

.cta-white {
  background-color: var(--text);
  color: var(--cta-text);
  transition: all 0.3s ease-in-out;
}

.cta-white:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--text);
  border-color: rgba(255, 255, 255, 0.4);
}

.cta-transparent {
  background-color: transparent;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.cta-transparent:hover {
  background-color: var(--text);
  color: var(--cta-text);
}

@media screen and (max-width: 512px) {
  heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 324px) {
  .cta:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .cta {
    width: 100%;
  }
}

.editor {
  padding: 100px 0;
  overflow-x: hidden;
}

.small-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  align-items: center;
}

.left,
.right {
  flex: 1;
  min-width: 0;
}

.left {
  margin-right: 40px;
}

.subheading {
  font-size: 1.5rem;
  color: var(--headings);
  margin-bottom: 20px;
}

.spacer {
  height: 30px;
}

.img-editor {
  width: 150%;
  margin-top: -100px;
  margin-left: 100px;
}

@media screen and (max-width: 880px) {
  .img-editor {
    margin-left: 50px;
  }
}

@media screen and (max-width: 665px) {
  .flex {
    flex-direction: column-reverse;
  }
  .left {
    margin-right: 0;
  }
  .img-editor {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .subheading {
    text-align: center;
  }
  .center {
    text-align: center;
  }
}

.infrastructure {
  background: var(--gray-bg-gradient);
  color: var(--text);
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.dark-bg {
  background-image: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.flex-reverse {
  display: flex;
  align-items: center;
  height: 400px;
}

.left-infra,
.right-infra {
  flex: 1;
  min-width: 0;
}

.left-infra {
  margin-right: 100px;
}

.infra-img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  transform: scale(1.3) translateY(20px);
}

.infra-heading {
  color: var(--text);
  font-size: 2rem;
}

@media screen and (max-width: 665px) {
  .flex-reverse {
    flex-direction: column;
    height: initial;
  }
  .left-infra {
    margin-right: 0;
  }
  .infra-img {
    width: 80%;
    max-width: initial;
    height: initial;
    margin: 0 auto;
    display: block;
    transform: scale(1) translateY(-100px);
  }
  .right-infra {
    transform: translateY(-50px);
  }
  .infra-desc {
    text-align: center;
  }
}

.left-two,
.right-two {
  flex: 1;
  min-width: 0;
}

.left-two {
  margin-right: 40px;
}

.img-laptop {
  width: 200%;
  margin-left: -500px;
}
